<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>404</h1>
            <p>Oops! The page you're looking for doesn't exist.</p>
            <a href="https://192.168.187.202/dkp/kommander/dashboard" class="home-button">Go to Home</a>
        </div>
    </div>
</body>

</html>